@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@50;100;200;300;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  display: flex;
  background-color: #323741;
  width: 100%;
  justify-content: left;
  align-items: center; }
  header div {
    margin-left: 6%; }

.barraNav {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 55px;
  margin-left: 30%; }
  .barraNav li {
    list-style: none; }
    .barraNav li a {
      text-decoration: none;
      font-family: 'Poppins', sans-serif;
      font-size: 23px;
      color: white;
      font-weight: 300; }
      .barraNav li a:hover {
        color: #CCCCDE; }

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #323741;
  height: auto;
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  color: white;
  font-weight: 300; }

.contacto {
  padding-left: 30px; }

.redes {
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px; }

.wspYnum {
  display: flex;
  align-items: flex-start;
  gap: 10px; }

main {
  background-color: #CCCCDE; }

.imgFondo img {
  width: 100%;
  height: 650px;
  position: absolute; }

.imagenConTexto {
  display: flex;
  flex-direction: column;
  justify-content: start;
  position: relative;
  animation: imagenConTexto 5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }
  .imagenConTexto h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    text-align: center;
    color: black;
    text-shadow: 3px 3px 4px #323741; }
  .imagenConTexto h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 33px;
    text-align: center;
    color: #d80000;
    text-shadow: 3px 3px 4px #323741; }

@keyframes imagenConTexto {
  0% {
    transform: translateY(500px);
    opacity: 0; }
  100% {
    transform: translateY(300px);
    opacity: 1; } }

/*CARDS SECCION 2 INDEX*/
.descConIcono {
  margin-top: 500px;
  display: flex;
  justify-content: space-evenly;
  padding: 3%; }

.card1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
  width: 30%; }
  .card1 h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 23px;
    color: #d80000;
    background-color: #d9d9d9;
    border-radius: 19px;
    padding: 3%;
    margin: 20px 0px;
    text-align: center; }
  .card1 p {
    font-family: 'Poppins', sans-serif;
    font-size: 19px;
    color: #323741;
    text-align: center;
    padding: 3%; }
  .card1 img {
    border-radius: 50%; }

/* PAGINA SERVICIOS IMAGEN CON TITULO Y LISTA CON CHECK*/
.gridServicios {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(3, auto);
  padding: 30px;
  grid-template-areas: ". img1 . titulo1 . . lista1 lista1 lista1 ." ". lista2 lista2 lista2 . . titulo2 . img2 ." ". img3 . titulo3 . . lista3 lista3 lista3 ."; }
  .gridServicios div h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 23px;
    color: #d80000; }
  .gridServicios img {
    border-radius: 50%; }

.img1 {
  grid-area: img1; }

.img2 {
  grid-area: img2; }

.img3 {
  grid-area: img3; }

.titulo1 {
  grid-area: titulo1;
  text-align: center; }

.titulo2 {
  grid-area: titulo2;
  text-align: center; }

.titulo3 {
  grid-area: titulo3;
  text-align: center; }

.lista1 {
  grid-area: lista1;
  display: flex;
  flex-direction: column;
  align-content: center; }

.lista2 {
  grid-area: lista2;
  display: flex;
  flex-direction: column;
  align-content: center; }

.lista3 {
  grid-area: lista3;
  display: flex;
  flex-direction: column;
  align-content: center; }

.listaConTilde {
  background-color: #d9d9d9;
  border-radius: 19px;
  padding: 30px; }
  .listaConTilde li {
    list-style: url("../assets/img/icons/icon_check50px.png");
    font-family: 'Poppins', sans-serif;
    font-size: 19px;
    color: #323741;
    margin-left: 9%; }

.gridEnfoque {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 500px 200px repeat(3, 0.5fr);
  justify-items: center;
  grid-template-areas: "im1 im1 im1 im1" "ti1 ti1 ti1 ti1" "ca1 ca2 ca3 ca4" "ca5 ca6 ca7 ca8" "diag diag diag diag"; }
  .gridEnfoque div h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 23px;
    color: #d80000;
    background-color: #d9d9d9;
    border-radius: 19px;
    padding: 3%;
    margin: 20px 0px;
    text-align: center; }
  .gridEnfoque div p {
    font-family: 'Poppins', sans-serif;
    font-size: 19px;
    color: #323741;
    text-align: center; }

.imgEnfoque {
  grid-area: im1;
  background-image: url("../assets/img/enfoque-nuevo-redim.jpg");
  width: 100%;
  height: 500px;
  background-size: cover; }
  .imgEnfoque h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
    text-align: center;
    color: #ffffff;
    text-shadow: 3px 3px 4px #323741;
    padding-top: 27%; }

.titulosEnfoque {
  grid-area: ti1;
  align-self: center; }
  .titulosEnfoque h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    text-align: center;
    color: #d80000;
    text-shadow: 3px 3px 4px #323741; }
  .titulosEnfoque p {
    font-family: 'Poppins', sans-serif;
    font-size: 23px;
    color: #323741;
    text-align: center; }

.nCard1 {
  grid-area: ca1;
  margin: 0px 20px; }

.nCard2 {
  grid-area: ca2;
  margin: 0px 20px; }

.nCard3 {
  grid-area: ca3;
  margin: 0px 20px; }

.nCard4 {
  grid-area: ca4;
  margin: 0px 20px; }

.nCard5 {
  grid-area: ca5;
  margin: 0px 20px; }

.nCard6 {
  grid-area: ca6;
  margin: 0px 20px; }

.nCard7 {
  grid-area: ca7;
  margin: 0px 20px; }

.nCard8 {
  grid-area: ca8;
  margin: 0px 20px; }

.diagrama {
  grid-area: diag; }
  .diagrama img {
    padding: 30px; }

/*PAGINA EQUIPO*/
.imgFondo2 img {
  width: 100%;
  height: 650px;
  position: absolute; }

.imgEquipo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  position: relative;
  animation: imagenConTexto2 5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }
  .imgEquipo h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
    color: #ffffff;
    text-shadow: 3px 3px 4px #323741;
    padding-left: 5%;
    padding-top: 5%; }
  .imgEquipo h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 21px;
    color: #ffffff;
    text-shadow: 3px 3px 4px #323741;
    padding-left: 5%; }

@keyframes imagenConTexto2 {
  0% {
    transform: translateY(-50px);
    opacity: 0; }
  100% {
    transform: translateY(0px);
    opacity: 1; } }

/*PARA LAS CARDS DE EQUIPO UTILIZO LA MISMA CLASE DE INDEX (card1)*/
/*PAGINA CONTACTO (BOOTSTRAP)*/
.pagContacto {
  font-family: 'Poppins', sans-serif;
  font-size: 16px; }

iframe {
  width: 100%; }

.barraNavB {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 55px;
  margin-left: 10%; }
  .barraNavB li {
    list-style: none; }
    .barraNavB li a {
      text-decoration: none;
      font-family: 'Poppins', sans-serif;
      font-size: 23px;
      color: white;
      font-weight: 300; }
      .barraNavB li a:hover {
        color: #CCCCDE; }

.botonEnviar {
  background-color: #323741;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: white;
  font-weight: 300; }

.boton1 {
  align-self: center; }
  .boton1 a input {
    font-family: 'Poppins', sans-serif;
    font-size: 19px;
    font-weight: 300;
    text-decoration: none;
    color: #ffffff;
    background-color: #323741;
    border-radius: 9px;
    padding: 9px;
    margin: 3px;
    border-color: #323741; }

/*BREAKPOINT 1024px*/
@media (max-width: 1024px) {
  .barraNav {
    gap: 25px;
    margin-left: 15%; }
  .card1 {
    width: 100%; }
  .gridServicios div h4 {
    font-size: 21px; }
  .titulo1 {
    padding: 5px; }
  .titulo2 {
    padding: 5px; }
  .titulo3 {
    padding: 5px; }
  .gridEnfoque {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 500px 200px repeat(5, 0.5fr);
    grid-template-areas: "im1 im1" "ti1 ti1" "ca1 ca2" "ca3 ca4" "ca5 ca6" "ca7 ca8" "diag diag"; }
  .nCard1 {
    padding: 0px 50px; }
  .nCard2 {
    padding: 0px 50px; }
  .nCard3 {
    padding: 0px 50px; }
  .nCard4 {
    padding: 0px 50px; }
  .nCard5 {
    padding: 0px 50px; }
  .nCard6 {
    padding: 0px 50px; }
  .nCard7 {
    padding: 0px 50px; }
  .nCard8 {
    padding: 0px 50px; }
  .barraNavB {
    gap: 35px;
    margin-left: 0%; } }

/*BREAKPOINT 768px*/
@media (max-width: 768px) {
  header div {
    margin-left: 0%; }
  .barraNav {
    gap: 15px;
    margin-left: 10%; }
  .imagenConTexto h2 {
    font-size: 37px; }
  .imagenConTexto h3 {
    font-size: 27px; }
  .descConIcono {
    margin-top: 500px;
    justify-content: center;
    flex-direction: column; }
  .imgEquipo h2 {
    padding-left: 3%;
    padding-top: 12%; }
  .imgEquipo h3 {
    padding-left: 3%; }
  .gridServicios {
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, auto);
    grid-template-areas: ". img1 img1 . titulo1 titulo1 ." ". lista1 lista1 lista1 lista1 lista1 ." ". img2 img2 . titulo2 titulo2 ." ". lista2 lista2 lista2 lista2 lista2 ." ". img3 img3 . titulo3 titulo3 ." ". lista3 lista3 lista3 lista3 lista3 ."; }
  .diagrama img {
    width: 730px;
    height: 730px; }
  .titulosEnfoque {
    margin: 35px; }
  .imgEnfoque h2 {
    padding-left: 100px; } }

/*BREAKPOINT 425px*/
@media (max-width: 425px) {
  header {
    justify-content: center;
    flex-direction: column; }
    header div {
      margin-left: 0%; }
  .barraNav {
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  footer {
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .imagenConTexto h2 {
    font-size: 27px; }
  .imagenConTexto h3 {
    font-size: 20px; }
  .imgFondo img {
    height: 350px; }
  @keyframes imagenConTexto {
    0% {
      transform: translateY(300px);
      opacity: 0; }
    100% {
      transform: translateY(150px);
      opacity: 1; } }
  .descConIcono {
    margin-top: 250px; }
  .imgFondo2 img {
    height: 350px; }
  .imgEquipo h2 {
    font-size: 27px; }
  .imgEquipo h3 {
    font-size: 18px; }
  .imgEquipo h2 {
    padding-top: 0%; }
  @keyframes imagenConTexto2 {
    0% {
      transform: translateY(0px);
      opacity: 0; }
    100% {
      transform: translateY(0px);
      opacity: 1; } }
  .gridServicios {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 350px 45px 650px 350px 45px 400px 350px 45px 400px;
    grid-template-areas: "img1" "titulo1" "lista1" "img2" "titulo2" "lista2" "img3" "titulo3" "lista3"; }
    .gridServicios img {
      margin-left: 30px; }
  .gridEnfoque {
    display: flex;
    flex-direction: column; }
  .diagrama img {
    width: 410px;
    height: 410px; }
  .imgEnfoque {
    background-size: cover;
    height: 230px; }
    .imgEnfoque h2 {
      padding-left: 0px;
      padding-top: 21%; }
  .titulosEnfoque {
    margin: 0%; }
    .titulosEnfoque h3 {
      font-size: 25px; }
  .barraNavB {
    flex-direction: column;
    align-items: center; } }

/*BREAKPOINT 375px*/
@media (max-width: 375px) {
  .gridServicios img {
    margin-left: 10px; }
  .listaConTilde li {
    margin-left: 15%; }
  .imgEnfoque h2 {
    padding-left: 20px; }
  .diagrama img {
    width: 365px;
    height: 365px; } }

/*BREAKPOINT 320px*/
@media (max-width: 320px) {
  @keyframes imagenConTexto {
    0% {
      transform: translateY(200px);
      opacity: 0; }
    100% {
      transform: translateY(100px);
      opacity: 1; } }
  .descConIcono {
    margin-top: 200px; }
  .imgEquipo h2 {
    font-size: 23px; }
  .imgEquipo h3 {
    font-size: 16px; }
  .gridServicios img {
    margin-left: 0px; }
  .imgEnfoque h2 {
    font-size: 27px;
    padding-left: 80px;
    padding-top: 100px; }
  .diagrama img {
    width: 310px;
    height: 310px; }
  .nCard1 {
    margin: 0px 0px; }
  .nCard2 {
    margin: 0px 0px; }
  .nCard3 {
    margin: 0px 0px; }
  .nCard4 {
    margin: 0px 0px; }
  .nCard5 {
    margin: 0px 0px; }
  .nCard6 {
    margin: 0px 0px; }
  .nCard7 {
    margin: 0px 0px; }
  .nCard8 {
    margin: 0px 0px; } }
