@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@50;100;200;300;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.barraNavResp, footer {
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  background-color: #CCCCDE; }

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #323741;
  align-items: center;
  padding: 1rem 1rem;
  border-radius: 0.4rem;
  box-shadow: 5px 5px 5px gray; }
  nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 0; }
    nav ul li a {
      text-decoration: none;
      font-family: 'Poppins', sans-serif;
      font-size: 1.3rem;
      color: white;
      font-weight: 300; }
      nav ul li a:hover {
        color: #CCCCDE; }
  nav #toggle, nav label {
    display: none; }
  nav label {
    display: inline-flex;
    color: #CCCCDE;
    cursor: pointer; }
  nav #toggle:checked ~ .menu {
    height: 100%; }
  nav .menu {
    width: 100%;
    height: 0;
    overflow: hidden; }

.pieDePag {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #323741;
  height: auto;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: white;
  font-weight: 300;
  padding: 1rem 1.5rem;
  border-radius: 0.4rem;
  box-shadow: 5px 5px 5px gray; }

.contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  text-align: center; }

.redes {
  display: flex;
  flex-direction: column;
  align-items: center; }

.wspYnum {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  gap: 10px; }

main {
  background-color: #CCCCDE; }

.imgFondo img {
  width: 100%;
  height: auto;
  position: absolute; }

.imagenConTexto {
  display: flex;
  flex-direction: column;
  justify-content: start;
  position: relative;
  animation: imagenConTexto 5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }
  .imagenConTexto h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    color: black;
    text-shadow: 3px 3px 4px #323741; }
  .imagenConTexto h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    text-align: center;
    color: #d80000;
    text-shadow: 3px 3px 4px #323741; }

@keyframes imagenConTexto {
  0% {
    transform: translateY(80px);
    opacity: 0; }
  100% {
    transform: translateY(5px);
    opacity: 1; } }

/*CARDS SECCION 2 INDEX*/
.descConIcono {
  margin-top: 3.5rem;
  display: flex;
  flex-direction: column; }

.card1, .card2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5rem;
  padding: 1rem;
  background-color: #878e9b;
  border-radius: 0.4rem;
  box-shadow: 2px 5px 5px gray; }
  .card1 h4, .card2 h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    color: #d80000;
    background-color: #d9d9d9;
    border-radius: 0.4rem;
    padding: 0.7rem;
    margin: 0.5rem 0;
    text-align: center; }
  .card1 p, .card2 p {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: #1a1c1f;
    text-align: center;
    padding: 1rem; }
  .card1 img, .card2 img {
    border-radius: 50%; }

/* PAGINA SERVICIOS IMAGEN CON TITULO Y LISTA CON CHECK*/
.gridServicios {
  display: grid;
  align-content: center;
  align-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 200px 310px 500px 200px 310px 350px 200px 310px 250px 50px;
  grid-template-areas: "titulo1" "img1" "lista1" "titulo2" "img2" "lista2" "titulo3" "img3" "lista3" "."; }
  .gridServicios div h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 23px;
    color: #d80000;
    text-align: center; }
  .gridServicios img {
    border-radius: 50%; }
  .gridServicios .img1, .gridServicios .img2, .gridServicios .img3 {
    grid-area: img1;
    justify-self: center; }
  .gridServicios .img2 {
    grid-area: img2; }
  .gridServicios .img3 {
    grid-area: img3; }
  .gridServicios .titulo1, .gridServicios .titulo2, .gridServicios .titulo3 {
    grid-area: titulo1;
    text-align: center;
    background-color: #878e9b;
    padding: 1rem;
    margin: 1rem;
    border-radius: 0.4rem;
    box-shadow: 5px 5px 5px gray; }
  .gridServicios .titulo2 {
    grid-area: titulo2; }
  .gridServicios .titulo3 {
    grid-area: titulo3; }
  .gridServicios .lista1, .gridServicios .lista2, .gridServicios .lista3 {
    grid-area: lista1;
    display: flex;
    flex-direction: column;
    align-content: center; }
    .gridServicios .lista1 .listaConTilde1, .gridServicios .lista2 .listaConTilde1, .gridServicios .lista3 .listaConTilde1, .gridServicios .lista2 .listaConTilde2, .gridServicios .lista3 .listaConTilde3 {
      display: grid;
      grid-template-columns: 60px 1fr;
      grid-template-rows: repeat(6, 1fr);
      align-items: center;
      margin: 1rem;
      background-color: #d9d9d9;
      border-radius: 0.4rem;
      box-shadow: 5px 5px 5px gray; }
      .gridServicios .lista1 .listaConTilde1 p, .gridServicios .lista2 .listaConTilde1 p, .gridServicios .lista3 .listaConTilde1 p, .gridServicios .lista2 .listaConTilde2 p, .gridServicios .lista3 .listaConTilde3 p {
        font-family: 'Poppins', sans-serif;
        font-size: 1rem;
        color: #1a1c1f;
        padding: 0.5rem; }
      .gridServicios .lista1 .listaConTilde1 .ch1, .gridServicios .lista2 .listaConTilde1 .ch1, .gridServicios .lista3 .listaConTilde1 .ch1, .gridServicios .lista2 .listaConTilde2 .ch1, .gridServicios .lista3 .listaConTilde3 .ch1, .gridServicios .lista1 .listaConTilde1 .ch2, .gridServicios .lista2 .listaConTilde1 .ch2, .gridServicios .lista3 .listaConTilde1 .ch2, .gridServicios .lista2 .listaConTilde2 .ch2, .gridServicios .lista3 .listaConTilde3 .ch2, .gridServicios .lista1 .listaConTilde1 .ch3, .gridServicios .lista2 .listaConTilde1 .ch3, .gridServicios .lista3 .listaConTilde1 .ch3, .gridServicios .lista2 .listaConTilde2 .ch3, .gridServicios .lista3 .listaConTilde3 .ch3, .gridServicios .lista1 .listaConTilde1 .ch4, .gridServicios .lista2 .listaConTilde1 .ch4, .gridServicios .lista3 .listaConTilde1 .ch4, .gridServicios .lista2 .listaConTilde2 .ch4, .gridServicios .lista3 .listaConTilde3 .ch4, .gridServicios .lista1 .listaConTilde1 .ch5, .gridServicios .lista2 .listaConTilde1 .ch5, .gridServicios .lista3 .listaConTilde1 .ch5, .gridServicios .lista2 .listaConTilde2 .ch5, .gridServicios .lista3 .listaConTilde3 .ch5, .gridServicios .lista1 .listaConTilde1 .ch6, .gridServicios .lista2 .listaConTilde1 .ch6, .gridServicios .lista3 .listaConTilde1 .ch6, .gridServicios .lista2 .listaConTilde2 .ch6, .gridServicios .lista3 .listaConTilde3 .ch6 {
        justify-self: center; }
  .gridServicios .lista2 {
    grid-area: lista2; }
    .gridServicios .lista2 .listaConTilde2 {
      grid-template-rows: repeat(4, 1fr); }
      .gridServicios .lista2 .listaConTilde2 .ch1, .gridServicios .lista2 .listaConTilde2 .ch2, .gridServicios .lista2 .listaConTilde2 .ch3, .gridServicios .lista2 .listaConTilde2 .ch4 {
        justify-self: center; }
  .gridServicios .lista3 {
    grid-area: lista3; }
    .gridServicios .lista3 .listaConTilde3 {
      grid-template-rows: repeat(3, 1fr); }
      .gridServicios .lista3 .listaConTilde3 .ch1, .gridServicios .lista3 .listaConTilde3 .ch2, .gridServicios .lista3 .listaConTilde3 .ch3 {
        justify-self: center; }

/*.gridServicios{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(3, auto);
    padding: 30px;
    grid-template-areas:
    ". img1 . titulo1 . . lista1 lista1 lista1 ."
    ". lista2 lista2 lista2 . . titulo2 . img2 ."
    ". img3 . titulo3 . . lista3 lista3 lista3 .";

    div{
        h4{
            font-family: 'Poppins', sans-serif;
            font-size: 23px;
            color:#d80000;
        }
    }
    
    img{
        border-radius: 50%;
    }
}

.img1{
    grid-area: img1;
}
.img2{
    grid-area: img2;
}
.img3{
    grid-area: img3;
}

.titulo1{
    grid-area: titulo1;
    text-align: center;
}
.titulo2{
    grid-area: titulo2;
    text-align: center;
}
.titulo3{
    grid-area: titulo3;
    text-align: center;
}

.lista1{
    grid-area: lista1;
    display: flex;
    flex-direction: column;
    align-content: center;
}
.lista2{
    grid-area: lista2;
    display: flex;
    flex-direction: column;
    align-content: center;
}
.lista3{
    grid-area: lista3;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.listaConTilde{
    background-color: #d9d9d9;
    border-radius: 19px;
    padding: 30px;

    li {
        list-style: url("../assets/img/icons/icon_check50px.png");
        font-family: 'Poppins', sans-serif;
        font-size: 19px;
        color:#323741;
        margin-left: 9%;
    }
}*/
.gridEnfoque {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(12, auto);
  justify-content: center;
  grid-template-areas: "im1" "tex" "ti1" "ca1" "ca2" "ca3" "ca4" "ca5" "ca6" "ca7" "ca8" "diag"; }
  .gridEnfoque .imgEnfoque {
    grid-area: im1; }
    .gridEnfoque .imgEnfoque img {
      width: 100%;
      height: auto;
      position: absolute; }
  .gridEnfoque .imagenTextoEnfoque {
    grid-area: tex;
    position: relative;
    margin-bottom: 200px;
    animation: imagenConTexto3 5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }
    .gridEnfoque .imagenTextoEnfoque h2 {
      font-family: 'Poppins', sans-serif;
      font-size: 2rem;
      text-align: center;
      color: #ffffff;
      text-shadow: 3px 3px 4px #323741; }

@keyframes imagenConTexto3 {
  0% {
    transform: translateY(80px);
    opacity: 0; }
  100% {
    transform: translateY(70px);
    opacity: 1; } }
  .gridEnfoque .titulosEnfoque {
    grid-area: ti1;
    padding: 0.3rem; }
    .gridEnfoque .titulosEnfoque h3 {
      font-family: 'Poppins', sans-serif;
      font-size: 1.2rem;
      text-align: center;
      color: #d80000;
      text-shadow: 3px 3px 4px #323741; }
    .gridEnfoque .titulosEnfoque p {
      font-family: 'Poppins', sans-serif;
      font-size: 0.9rem;
      color: #323741;
      text-align: center; }
  .gridEnfoque .nCard1, .gridEnfoque .nCard2, .gridEnfoque .nCard3, .gridEnfoque .nCard4, .gridEnfoque .nCard5, .gridEnfoque .nCard6, .gridEnfoque .nCard7, .gridEnfoque .nCard8 {
    grid-area: ca1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem;
    padding: 1rem;
    background-color: #878e9b;
    border-radius: 0.4rem;
    box-shadow: 2px 5px 5px gray; }
    .gridEnfoque .nCard1 h4, .gridEnfoque .nCard2 h4, .gridEnfoque .nCard3 h4, .gridEnfoque .nCard4 h4, .gridEnfoque .nCard5 h4, .gridEnfoque .nCard6 h4, .gridEnfoque .nCard7 h4, .gridEnfoque .nCard8 h4 {
      font-family: 'Poppins', sans-serif;
      font-size: 1.2rem;
      color: #d80000;
      background-color: #d9d9d9;
      border-radius: 0.4rem;
      padding: 0.7rem;
      margin: 0.5rem 0;
      text-align: center; }
    .gridEnfoque .nCard1 p, .gridEnfoque .nCard2 p, .gridEnfoque .nCard3 p, .gridEnfoque .nCard4 p, .gridEnfoque .nCard5 p, .gridEnfoque .nCard6 p, .gridEnfoque .nCard7 p, .gridEnfoque .nCard8 p {
      font-family: 'Poppins', sans-serif;
      font-size: 1rem;
      color: #1a1c1f;
      text-align: center;
      padding: 1rem; }
  .gridEnfoque .nCard2 {
    grid-area: ca2; }
  .gridEnfoque .nCard3 {
    grid-area: ca3; }
  .gridEnfoque .nCard4 {
    grid-area: ca4; }
  .gridEnfoque .nCard5 {
    grid-area: ca5; }
  .gridEnfoque .nCard6 {
    grid-area: ca6; }
  .gridEnfoque .nCard7 {
    grid-area: ca7; }
  .gridEnfoque .nCard8 {
    grid-area: ca8; }
  .gridEnfoque .diagrama {
    grid-area: diag; }
    .gridEnfoque .diagrama img {
      width: 100%;
      height: auto;
      padding: 1rem; }

/*.gridEnfoque{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 500px 200px repeat(3, 0.5fr);
    justify-items: center;
    grid-template-areas:
    "im1 im1 im1 im1"
    "ti1 ti1 ti1 ti1"
    "ca1 ca2 ca3 ca4"
    "ca5 ca6 ca7 ca8"
    "diag diag diag diag"
    ;

    div{
        h4{
            font-family: 'Poppins', sans-serif;
            font-size: 23px;
            color:#d80000;
            background-color: #d9d9d9;
            border-radius: 19px;
            padding: 0.5rem;
            margin: 20px 0px;
            text-align: center;
            width: 100%;
        }
        
        p{
            font-family: 'Poppins', sans-serif;
            font-size: 19px;
            color:#323741;
            text-align: center;
        }
    }
}

.imgEnfoque{
    grid-area: im1;
    background-image: url("../assets/img/enfoque-nuevo-redim.jpg");
    width: 100%;
    height: 500px;
    background-size:cover;
    h2{
        font-family: 'Poppins', sans-serif;
        font-size: 45px;
        text-align: center;
        color: #ffffff;
        text-shadow: 3px 3px 4px #323741;
        padding-top: 27%;
    }
}
.titulosEnfoque{
    grid-area: ti1;
    align-self: center;
    h3{
        font-family: 'Poppins', sans-serif;
        font-size: 36px;
        text-align: center;
        color: #d80000;
        text-shadow: 3px 3px 4px #323741;
    }
    
    p{
        font-family: 'Poppins', sans-serif;
        font-size: 23px;
        color:#323741;
        text-align: center;
    }
}
.nCard1{
    grid-area: ca1;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color: $background-color-card1;
    border-radius: 0.4rem;
    box-shadow: 2px 5px 5px rgb(128, 128, 128);
}
.nCard2{
    @extend .nCard1;
    grid-area: ca2;
}
.nCard3{
    @extend .nCard1;
    grid-area: ca3;
}
.nCard4{
    @extend .nCard1;
    grid-area: ca4;
}
.nCard5{
    @extend .nCard1;
    grid-area: ca5;
}
.nCard6{
    @extend .nCard1;
    grid-area: ca6;
}
.nCard7{
    @extend .nCard1;
    grid-area: ca7;
}
.nCard8{
    @extend .nCard1;
    grid-area: ca8;
}
.diagrama{
    grid-area: diag;
    img{
        padding: 30px;
    }
}*/
/*PAGINA EQUIPO*/
.imgFondo2 img {
  width: 100%;
  height: auto;
  position: absolute; }

.imgEquipo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  position: relative;
  animation: imagenConTexto2 5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }
  .imgEquipo h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: #1a1c1f;
    text-shadow: 3px 3px 4px #323741;
    padding: 0 0.5rem;
    text-align: center; }
  .imgEquipo h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 0.7rem;
    color: #1a1c1f;
    text-shadow: 3px 3px 4px #323741;
    padding: 0 0.5rem;
    text-align: center; }

@keyframes imagenConTexto2 {
  0% {
    transform: translateY(-30px);
    opacity: 0; }
  100% {
    transform: translateY(0px);
    opacity: 1; } }

.descConIcono2 {
  margin-top: 10rem;
  display: flex;
  flex-direction: column; }

.card2 p {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  color: #1a1c1f;
  text-align: center;
  padding: 1rem; }

.card2 img {
  border-radius: 50%; }

/*PAGINA CONTACTO (BOOTSTRAP)*/
.pagContacto {
  font-family: 'Poppins', sans-serif;
  font-size: 16px; }

iframe {
  width: 100%; }

.botonEnviar {
  background-color: #323741;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: white;
  font-weight: 300; }

.boton1 {
  align-self: center; }
  .boton1 a input {
    font-family: 'Poppins', sans-serif;
    font-size: 19px;
    font-weight: 300;
    text-decoration: none;
    color: #ffffff;
    background-color: #323741;
    border-radius: 9px;
    padding: 9px;
    margin: 3px;
    border-color: #323741; }

@media (min-width: 320px) {
  .card1 p, .card2 p {
    font-size: 1.1rem; }
  .descConIcono {
    margin-top: 8rem; }
  @keyframes imagenConTexto {
    0% {
      transform: translateY(100px);
      opacity: 0; }
    100% {
      transform: translateY(55px);
      opacity: 1; } }
  .card2 p {
    font-size: 1.1rem; }
  .lista2 .listaConTilde2 .ch1, .lista2 .listaConTilde2 .ch2, .lista2 .listaConTilde2 .ch3, .lista2 .listaConTilde2 .ch4 {
    padding: 0.8rem 0; }
  .lista3 .listaConTilde3 .ch1, .lista3 .listaConTilde3 .ch2, .lista3 .listaConTilde3 .ch3 {
    padding: 0.8rem 0; } }

/*BREAKPOINT 375px*/
@media (min-width: 375px) {
  .imagenConTexto h2 {
    font-size: 1.6rem; }
  .imagenConTexto h3 {
    font-size: 1.3rem; }
  .descConIcono {
    margin-top: 10rem; }
  .imgEquipo h2 {
    font-size: 1.2rem; }
  .imgEquipo h3 {
    font-size: 0.9rem; }
  .descConIcono2 {
    margin-top: 12rem; }
  @keyframes imagenConTexto3 {
    0% {
      transform: translateY(100px);
      opacity: 0; }
    100% {
      transform: translateY(90px);
      opacity: 1; } }
  .gridEnfoque .imagenTextoEnfoque h2 {
    font-size: 2.3rem; } }

/*BREAKPOINT 425px /530px/680px*/
/*En pagina INDEX y EQUIPO si selecciono las medidas desde el inspector funciona ok
pero si lo desplazo lateralente para llegar a 768px se monta
la imagen sobre las cards, de seguro no es una buena practica 
pero me quedo sin tiempo para la entrega, pido disculpas 
porque no se como lo va a corregir, si haciendo click 
sobre las medidas en el inspector o si va a mover con el mouse
como en las clases*/
@media (min-width: 425px) {
  .imagenConTexto h2 {
    font-size: 1.8rem; }
  .imagenConTexto h3 {
    font-size: 1.5rem; }
  .descConIcono {
    margin-top: 13rem; }
  @keyframes imagenConTexto {
    0% {
      transform: translateY(120px);
      opacity: 0; }
    100% {
      transform: translateY(75px);
      opacity: 1; } }
  .descConIcono2 {
    margin-top: 18rem; }
  .lista1 .listaConTilde1 .ch1, .gridServicios .lista2 .listaConTilde1 .ch1, .gridServicios .lista3 .listaConTilde1 .ch1, .gridServicios .lista2 .listaConTilde2 .ch1, .gridServicios .lista3 .listaConTilde3 .ch1, .lista1 .listaConTilde1 .ch2, .gridServicios .lista2 .listaConTilde1 .ch2, .gridServicios .lista3 .listaConTilde1 .ch2, .gridServicios .lista2 .listaConTilde2 .ch2, .gridServicios .lista3 .listaConTilde3 .ch2, .lista1 .listaConTilde1 .ch3, .gridServicios .lista2 .listaConTilde1 .ch3, .gridServicios .lista3 .listaConTilde1 .ch3, .gridServicios .lista2 .listaConTilde2 .ch3, .gridServicios .lista3 .listaConTilde3 .ch3, .lista1 .listaConTilde1 .ch4, .gridServicios .lista2 .listaConTilde1 .ch4, .gridServicios .lista3 .listaConTilde1 .ch4, .gridServicios .lista2 .listaConTilde2 .ch4, .gridServicios .lista3 .listaConTilde3 .ch4, .lista1 .listaConTilde1 .ch5, .gridServicios .lista2 .listaConTilde1 .ch5, .gridServicios .lista3 .listaConTilde1 .ch5, .gridServicios .lista2 .listaConTilde2 .ch5, .gridServicios .lista3 .listaConTilde3 .ch5, .lista1 .listaConTilde1 .ch6, .gridServicios .lista2 .listaConTilde1 .ch6, .gridServicios .lista3 .listaConTilde1 .ch6, .gridServicios .lista2 .listaConTilde2 .ch6, .gridServicios .lista3 .listaConTilde3 .ch6 {
    padding: 0.8rem 0; }
  @keyframes imagenConTexto3 {
    0% {
      transform: translateY(110px);
      opacity: 0; }
    100% {
      transform: translateY(100px);
      opacity: 1; } }
  .gridEnfoque .imagenTextoEnfoque h2 {
    font-size: 2.5rem; }
  .gridEnfoque .titulosEnfoque h3 {
    font-size: 1.6rem; }
  .gridEnfoque .titulosEnfoque p {
    font-size: 1rem; }
  .gridEnfoque .imagenTextoEnfoque {
    margin-bottom: 16rem; }
  .gridEnfoque .imagenTextoEnfoque {
    margin-bottom: 16rem; } }

@media (min-width: 530px) {
  .descConIcono {
    margin-top: 19rem; }
  .descConIcono2 {
    margin-top: 24rem; }
  .gridEnfoque .imagenTextoEnfoque {
    margin-bottom: 22rem; } }

@media (min-width: 680px) {
  .descConIcono {
    margin-top: 23rem; }
  .descConIcono2 {
    margin-top: 29rem; }
  .gridEnfoque .imagenTextoEnfoque {
    margin-bottom: 25rem; } }

/*BREAKPOINT 768px*/
@media (min-width: 768px) {
  .imagenConTexto h2 {
    margin: 0 3rem;
    font-size: 2.3rem; }
  .imagenConTexto h3 {
    margin: 0 3rem;
    font-size: 2rem; }
  @keyframes imagenConTexto {
    0% {
      transform: translateY(220px);
      opacity: 0; }
    100% {
      transform: translateY(120px);
      opacity: 1; } }
  .card1, .card2 {
    margin: 1rem 4rem; }
  .pieDePag {
    flex-direction: row; }
  .descConIcono {
    margin-top: 30rem; }
  .imgEquipo h2 {
    margin: 0 3rem;
    font-size: 2.1rem; }
  .imgEquipo h3 {
    margin: 0 3rem;
    font-size: 1.8rem; }
  .gridServicios {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 170px 500px 170px 350px 170px 310px;
    grid-template-areas: "titulo1 titulo1" "img1 lista1" "titulo2 titulo2" "lista2 img2" "titulo3 titulo3" "img3 lista3"; }
    .gridServicios .titulo1, .gridServicios .titulo2, .gridServicios .titulo3, .gridServicios .titulo2, .gridServicios .titulo3 {
      margin: 0 6rem; }
  @keyframes imagenConTexto3 {
    0% {
      transform: translateY(200px);
      opacity: 0; }
    100% {
      transform: translateY(190px);
      opacity: 1; } }
  .gridEnfoque {
    grid-template-columns: 2fr;
    grid-template-columns: repeat(8, auto);
    grid-template-areas: "im1 im1" "tex tex" "ti1 ti1" "ca1 ca2" "ca3 ca4" "ca5 ca6" "ca7 ca8" "diag diag"; }
    .gridEnfoque .titulosEnfoque h3 {
      font-size: 2.3rem; }
    .gridEnfoque .titulosEnfoque p {
      font-size: 1.3rem; }
    .gridEnfoque .nCard1, .gridEnfoque .nCard2, .gridEnfoque .nCard3, .gridEnfoque .nCard4, .gridEnfoque .nCard5, .gridEnfoque .nCard6, .gridEnfoque .nCard7, .gridEnfoque .nCard8 {
      margin: 1.5rem; }
    .gridEnfoque .imagenTextoEnfoque h2 {
      font-size: 3.9rem; }
    .gridEnfoque .imagenTextoEnfoque {
      margin-bottom: 31rem; } }

/*BREAKPOINT 1024px / 1200px*/
@media (min-width: 1024px) {
  nav {
    flex-wrap: nowrap; }
    nav ul {
      flex-direction: row;
      padding: 1rem 1rem;
      justify-content: space-evenly; }
    nav label {
      display: none; }
    nav .menu {
      height: 100%; }
  .imagenConTexto h2 {
    margin: 0 3rem;
    font-size: 3.3rem; }
  .imagenConTexto h3 {
    margin: 0 3rem;
    font-size: 2.5rem; }
  .descConIcono {
    margin-top: 33rem; }
  .descConIcono {
    flex-direction: row;
    justify-content: space-evenly; }
  .card1, .card2 {
    margin: 1rem;
    padding: 1rem;
    width: 30%; }
  .descConIcono2 {
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 42rem; }
  @keyframes imagenConTexto3 {
    0% {
      transform: translateY(260px);
      opacity: 0; }
    100% {
      transform: translateY(250px);
      opacity: 1; } }
  .gridEnfoque {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, auto);
    grid-template-areas: "im1 im1 im1 im1" "tex tex tex tex" "ti1 ti1 ti1 ti1" "ca1 ca2 ca3 ca4" "ca5 ca6 ca7 ca8" "diag diag diag diag"; }
    .gridEnfoque .titulosEnfoque h3 {
      font-size: 2.3rem; }
    .gridEnfoque .titulosEnfoque p {
      font-size: 1.3rem; }
    .gridEnfoque .nCard1, .gridEnfoque .nCard2, .gridEnfoque .nCard3, .gridEnfoque .nCard4, .gridEnfoque .nCard5, .gridEnfoque .nCard6, .gridEnfoque .nCard7, .gridEnfoque .nCard8 {
      margin: 1rem;
      padding: 1rem;
      width: 85%; }
    .gridEnfoque .imagenTextoEnfoque h2 {
      font-size: 4.9rem; }
    .gridEnfoque .imagenTextoEnfoque {
      margin-bottom: 36rem; }
    .gridEnfoque .diagrama img {
      padding: 5rem 10rem; } }

@media (min-width: 1200px) {
  .descConIcono {
    margin-top: 44rem; }
  .descConIcono2 {
    margin-top: 48rem; }
  .imgEquipo h2 {
    margin: 0 3rem;
    font-size: 3rem; }
  .imgEquipo h3 {
    margin: 0 3rem;
    font-size: 2.3rem; }
  .gridEnfoque .imagenTextoEnfoque {
    margin-bottom: 49rem; }
  @keyframes imagenConTexto3 {
    0% {
      transform: translateY(380px);
      opacity: 0; }
    100% {
      transform: translateY(370px);
      opacity: 1; } } }
