/*reseteo*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@50;100;200;300;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  display: flex;
  background-color: #323741;
  width: 100%;
  justify-content: left;
  align-items: center; }
  header div {
    margin-left: 4%; }

.barraNav {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 55px;
  margin-left: 30%; }
  .barraNav li {
    list-style: none; }
    .barraNav li a {
      text-decoration: none;
      font-family: 'Poppins', sans-serif;
      font-size: 23px;
      color: white;
      font-weight: 300; }
      .barraNav li a:hover {
        color: #CCCCDE; }

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #323741;
  height: auto;
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  color: white;
  font-weight: 300; }

.contacto {
  padding-left: 30px; }

.redes {
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px; }

.wspYnum {
  display: flex;
  align-items: flex-start;
  gap: 10px; }

main {
  background-color: #CCCCDE; }

.imagenConTexto {
  background-image: url("../assets/img/reunion-negocio.jpg");
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-top: 5%;
  width: 100%;
  height: 500px;
  background-size: cover; }
  .imagenConTexto h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    text-align: center;
    color: black;
    text-shadow: 3px 3px 4px #323741; }
  .imagenConTexto h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 33px;
    text-align: center;
    color: #d80000;
    text-shadow: 3px 3px 4px #323741; }

/*CARDS SECCION 2 INDEX*/
.descConIcono {
  display: flex;
  justify-content: space-evenly;
  padding: 3%; }

.card1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
  width: 30%; }
  .card1 h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 23px;
    color: #d80000;
    background-color: #d9d9d9;
    border-radius: 19px;
    padding: 3%;
    margin: 20px 0px;
    text-align: center; }
  .card1 p {
    font-family: 'Poppins', sans-serif;
    font-size: 19px;
    color: #323741;
    text-align: center;
    padding: 3%; }
  .card1 img {
    border-radius: 50%; }
