@mixin textoMenu{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    color: white;
    font-weight:300;
    &:hover{
        color:$background-color-main;
    }
}