footer{
    @extend .barraNavResp;
}
.pieDePag{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color:$background-color-barras;
    height: auto;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: white;
    font-weight:300;
    padding: 1rem 1.5rem;
    border-radius: 0.4rem;
    box-shadow: 5px 5px 5px rgb(128, 128, 128);
}

.contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
}

.redes{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wspYnum{
    display: flex;
    align-items:center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    gap: 10px;
}