main{
    background-color: $background-color-main;
}

.imgFondo{
    img{
        width: 100%;
        height: 650px;
        position: absolute;
    }
}
.imagenConTexto{
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: relative;
	animation: imagenConTexto 5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    
    h2{
        font-family: 'Poppins', sans-serif;
        font-size: 40px;
        text-align: center;
        color: black;
        text-shadow: 3px 3px 4px #323741;
    }

    h3{
        font-family: 'Poppins', sans-serif;
        font-size: 33px;
        text-align: center;
        color: #d80000;
        text-shadow: 3px 3px 4px #323741;
    }

    
}

@keyframes imagenConTexto {
    0% {
        transform: translateY(500px);
        opacity: 0;
    }
    100% {
        transform: translateY(300px);
        opacity: 1;
    }
}

/*CARDS SECCION 2 INDEX*/
.descConIcono{
    margin-top: 500px;
    display: flex;
    justify-content: space-evenly;
    padding: 3%;
}

.card1{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    width:30%;
    
    h4{
        font-family: 'Poppins', sans-serif;
        font-size: 23px;
        color:#d80000;
        background-color: #d9d9d9;
        border-radius: 19px;
        padding: 3%;
        margin: 20px 0px;
        text-align: center;
    }

    p{
        font-family: 'Poppins', sans-serif;
        font-size: 19px;
        color:#323741;
        text-align: center;
        padding: 3%;
    }

    img{
        border-radius: 50%;
    }
}