/*PAGINA EQUIPO*/
.imgFondo2{
    img{
        width: 100%;
        height: auto;
        position: absolute;
    }
}
.imgEquipo{
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: relative;
	animation: imagenConTexto2 5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

    h2{
        font-family: 'Poppins', sans-serif;
        font-size: 1rem;
        color: #1a1c1f;
        text-shadow: 3px 3px 4px #323741;
        padding: 0 0.5rem;
        text-align: center;
    }

    h3{
        font-family: 'Poppins', sans-serif;
        font-size: 0.7rem;
        color: #1a1c1f;
        text-shadow: 3px 3px 4px #323741;
        padding: 0 0.5rem;
        text-align: center;
    }
}

@keyframes imagenConTexto2 {
    0% {
        transform: translateY(-30px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.descConIcono2{
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
}

.card2{
    @extend .card1;

    p{
        font-family: 'Poppins', sans-serif;
        font-size: 1rem;
        color:#1a1c1f;
        text-align: center;
        padding: 1rem;
    }

    img{
        border-radius: 50%;
    }
}