main{
    background-color: $background-color-main;
}

.imgFondo{
    img{
        width: 100%;
        height: auto;
        position: absolute;
    }
}
.imagenConTexto{
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: relative;
	animation: imagenConTexto 5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    
    h2{
        font-family: 'Poppins', sans-serif;
        font-size: 1.5rem;
        text-align: center;
        color: black;
        text-shadow: 3px 3px 4px #323741;
    }

    h3{
        font-family: 'Poppins', sans-serif;
        font-size: 1rem;
        text-align: center;
        color: #d80000;
        text-shadow: 3px 3px 4px #323741;
    }

    
}

@keyframes imagenConTexto {
    0% {
        transform: translateY(80px);
        opacity: 0;
    }
    100% {
        transform: translateY(5px);
        opacity: 1;
    }
}

/*CARDS SECCION 2 INDEX*/
.descConIcono{
    margin-top: 3.5rem;
    display: flex;
    flex-direction: column;
}

.card1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem;
    padding: 1rem;
    background-color: $background-color-card1;
    border-radius: 0.4rem;
    box-shadow: 2px 5px 5px rgb(128, 128, 128);

    
    h4{
        font-family: 'Poppins', sans-serif;
        font-size: 1.2rem;
        color:#d80000;
        background-color: #d9d9d9;
        border-radius: 0.4rem;
        padding: 0.7rem;
        margin: 0.5rem 0;
        text-align: center;
    }

    p{
        font-family: 'Poppins', sans-serif;
        font-size: 1rem;
        color:#1a1c1f;
        text-align: center;
        padding: 3%;
    }

    img{
        border-radius: 50%;
    }
}