/*BREAKPOINT 768px*/
@media (min-width:768px){
    //ajusto tamaño de fuente de texto sobre la imagen
    //pagina INDEX
    .imagenConTexto{
        h2{
            margin: 0 3rem;
            font-size: 2.3rem;
        }
        h3{
            margin: 0 3rem;
            font-size: 2rem;
        }
    }

    //ajuste de posicion de la animacion pagina INDEX
    @keyframes imagenConTexto {
        0% {
            transform: translateY(220px);
            opacity: 0;
        }
        100% {
            transform: translateY(120px);
            opacity: 1;
        }
    }

    //ajuste de margenes en cards
    .card1{
        margin: 1rem 4rem;
    }

    //ajuste de footer
    .pieDePag{
        flex-direction: row;
    }

    //ajusto margen superior para que no se esconda
    //debajo de la imagen pagina INDEX
    .descConIcono{
        margin-top: 30rem;
    }

    //ajusto tamaño de fuente de texto sobre la imagen
    //pagina EQUIPO
    .imgEquipo{
        h2{
            margin: 0 3rem;
            font-size: 2.1rem;
        }
        h3{
            margin: 0 3rem;
            font-size: 1.8rem;
        }
    }

    .gridServicios{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 170px 500px 170px 350px 170px 310px;
        grid-template-areas:
        "titulo1 titulo1"
        "img1 lista1"
        "titulo2 titulo2"
        "lista2 img2"
        "titulo3 titulo3"
        "img3 lista3";

        .titulo1, .titulo2, .titulo3{
            margin: 0 6rem;
        }
    }

    //ajusto animacion pagina ENFOQUE
    @keyframes imagenConTexto3 {
        0% {
            transform: translateY(200px);
            opacity: 0;
        }
        100% {
            transform: translateY(190px);
            opacity: 1;
        }
    }
    //ajusto posicion de elementos en pagina enfoque
    .gridEnfoque{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(8,auto);
        grid-template-areas: 
        "im1 im1"
        "tex tex"
        "ti1 ti1"
        "ca1 ca2"
        "ca3 ca4"
        "ca5 ca6"
        "ca7 ca8"
        "diag diag";

        .titulosEnfoque{
            h3{
                font-size: 2.3rem;
            }
            p{
                font-size: 1.3rem;
            }
        }

        .nCard1{
            margin: 1.5rem;
        }

        .imagenTextoEnfoque{
            h2{
                font-size: 3.9rem;
            }
        }

        //ajusto margen inferior para que no se esconda
        //debajo de la imagen pagina ENFOQUE
        .imagenTextoEnfoque{
            margin-bottom: 31rem;
        }

        .diagrama{
            padding: 3rem 6rem;
        }
    }
}