/*BREAKPOINT 375px*/
@media (min-width:375px){

    //ajusto tamaño de fuente de texto sobre la imagen
    //pagina INDEX
    .imagenConTexto{
        h2{
            font-size: 1.6rem;
        }
        h3{
            font-size: 1.3rem;
        }
    }

    //ajusto margen superior para que no se esconda
    //debajo de la imagen pagina INDEX
    .descConIcono{
        margin-top: 10rem;
    }

    //ajusto tamaño de fuente de texto sobre la imagen
    //pagina EQUIPO
    .imgEquipo{
        h2{
            font-size: 1.2rem;
        }
        h3{
            font-size: 0.9rem;
        }
    }

    //ajusto margen superior para que no se esconda
    //debajo de la imagen pagina EQUIPO
    .descConIcono2{
        margin-top: 12rem;
    }
}