// /*BREAKPOINT 320px*/
@media (min-width:320px){
    //ajusto tamaño de fuente de cards pagina INDEX
    .card1{
        p{
            font-size: 1.1rem;
        }
    }

    //ajusto margen superior para que no se esconda
    //debajo de la imagen pagina INDEX
    .descConIcono{
        margin-top: 8rem;
    }

    //ajuste de posicion de la animacion pagina INDEX
    @keyframes imagenConTexto {
        0% {
            transform: translateY(100px);
            opacity: 0;
        }
        100% {
            transform: translateY(55px);
            opacity: 1;
        }
    }

    //ajusto tamaño de fuente de cards pagina EQUIPO
    .card2{
        p{
            font-size: 1.1rem;
        }
    }

    //ajusto listas con tilde para que se vea como la lista1
    .lista2{
        .listaConTilde2{
            .ch1, .ch2, .ch3, .ch4{
                padding: 0.8rem 0;
            }
        }
    }
    .lista3{
        .listaConTilde3{
            .ch1, .ch2, .ch3{
                padding: 0.8rem 0;
            }
        }
    }
}