/*BREAKPOINT 1024px / 1200px*/
@media (min-width:1024px){

    //ajusto barra de navegacion
    nav{
        flex-wrap: nowrap;
        ul{
            flex-direction: row;
            padding: 1rem 1rem;
            justify-content: space-evenly;
        }
        label{
            display: none;
        }
        .menu{
            height: 100%;
        }
    }

    //ajusto tamaño de fuente de texto sobre la imagen
    //pagina INDEX
    .imagenConTexto{
        h2{
            margin: 0 3rem;
            font-size: 3.3rem;
        }
        h3{
            margin: 0 3rem;
            font-size: 2.5rem;
        }
    }
    
    //ajusto margen superior para que no se esconda
    //debajo de la imagen pagina INDEX
    .descConIcono{
        margin-top: 33rem;
    }

    //ajusto orden de las cards pagina INDEX
    .descConIcono{
        flex-direction: row;
        justify-content: space-evenly;
    }
    .card1{
        margin: 1rem;
        padding: 1rem;
        width: 30%;
    }

    //ajusto orden de las cards pagina CONTACTO
    .descConIcono2{
        flex-direction: row;
        justify-content: space-evenly;
    }

}

@media (min-width:1200px){
    //ajusto margen superior para que no se esconda
    //debajo de la imagen pagina INDEX
    .descConIcono{
        margin-top: 44rem;
    }
}

//     .gridServicios{
//         div{
//             h4{
//                 font-size: 21px;
//             }
//         }
//     }

//     .titulo1{
//     padding: 5px;
//     }
//     .titulo2{
//         padding: 5px;
//     }
//     .titulo3{
//         padding: 5px;
//     }
    
//     // correccion grid de enfoque
//     .gridEnfoque{
//         grid-template-columns: repeat(2, 1fr);
//         grid-template-rows: 500px 200px repeat(5, 0.5fr);
//         grid-template-areas: 
//         "im1 im1"
//         "ti1 ti1"
//         "ca1 ca2"
//         "ca3 ca4"
//         "ca5 ca6"
//         "ca7 ca8"
//         "diag diag";
//     }

//     .nCard1,.nCard2,.nCard3,.nCard4,.nCard5,.nCard6,.nCard7,.nCard8{
//         margin: 5px;
//     }

//     .card1{
//         margin:5px 0;
//     }
// }