/*BREAKPOINT 425px /530px/680px*/
/*En pagina INDEX y EQUIPO si selecciono las medidas desde el inspector funciona ok
pero si lo desplazo lateralente para llegar a 768px se monta
la imagen sobre las cards, de seguro no es una buena practica 
pero me quedo sin tiempo para la entrega, pido disculpas 
porque no se como lo va a corregir, si haciendo click 
sobre las medidas en el inspector o si va a mover con el mouse
como en las clases*/

@media (min-width:425px){
    //ajusto tamaño de fuente de texto sobre la imagen
    //pagina INDEX
    .imagenConTexto{
        h2{
            font-size: 1.8rem;
        }
        h3{
            font-size: 1.5rem;
        }
    }

    //ajusto margen superior para que no se esconda
    //debajo de la imagen pagina INDEX
    .descConIcono{
        margin-top: 13rem;
    }

    //ajuste de posicion de la animacion pagina INDEX
    @keyframes imagenConTexto {
        0% {
            transform: translateY(120px);
            opacity: 0;
        }
        100% {
            transform: translateY(75px);
            opacity: 1;
        }
    }

    //ajusto margen superior para que no se esconda
    //debajo de la imagen pagina EQUIPO
    .descConIcono2{
        margin-top: 18rem;
    }

    //ajusto listas con tilde para que se vea como la lista 2 y 3
    .lista1{
        .listaConTilde1{
            .ch1, .ch2, .ch3, .ch4, .ch5, .ch6{
                padding: 0.8rem 0;
            } 
        }
    }
}
@media (min-width:530px){
    //ajusto margen superior para que no se esconda
    //debajo de la imagen pagina INDEX
    .descConIcono{
        margin-top: 19rem;
    }

    //ajusto margen superior para que no se esconda
    //debajo de la imagen pagina EQUIPO
    .descConIcono2{
        margin-top: 24rem;
    }
}
@media (min-width:680px){
    //ajusto margen superior para que no se esconda
    //debajo de la imagen pagina INDEX
    .descConIcono{
        margin-top: 23rem;
    }

    //ajusto margen superior para que no se esconda
    //debajo de la imagen pagina EQUIPO
    .descConIcono2{
        margin-top: 29rem;
    }
}